.perks-main-title, .perks-main-content, .perk-blocks h2, h3, h4, h5 {
    text-align: center;
}

.perks-main-title, .perks-main-content {
    margin-top: 1rem;
    margin-bottom: 3rem;
    letter-spacing: 0px;
}

.perks-main-content, .perk-desc {
    font-family: Quicksand;
}

.perk-block {
    margin-bottom: 3rem;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.perk-block * {
    letter-spacing: 0px;
}

.perk-icon-wrapper {
    padding: .7rem 1rem 2rem .7rem;
}

.perk-icon-wrapper i {
    border: solid #DBDBDB 1px;
    border-radius: 3rem;
    padding: 23px 25px;
}

.perk-title {
    font-family: QuicksandBold;
    padding-top: 5px;
}

.perk-block:hover {
    box-shadow: 0 2px 4px 0 #343a4026, 0 5px 15px 0 #dee2e6;
    -webkit-transition: box-shadow 0.3s ease-in;
    -moz-transition: box-shadow 0.3s ease-in;
    -o-transition: box-shadow 0.3s ease-in;
    -ms-transition: box-shadow 0.3s ease-in;
    transition: box-shadow 0.3s ease-in;
}

