
.registration-box {
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    letter-spacing: 0.25em;
}

.registration-box a {
    border: 1px solid #fff !important;
    color: #fff;
    padding: 2rem;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.6s;
    -webkit-transition-property: color, background-color;
    transition-duration: 0.6s;
    transition-property: color, background-color;
}

.registration-box a:hover {
    text-decoration: none;
    background-color: #fff;
    color: #000000;
}

.registration-block {
    margin-top: 7%;
}

.heading-wrapper {
    border-left: 2px solid #fff;
    padding-left: 0.5em;
}

.intro-heading {
    color: #fff;
}