
div.open-offers-wrapper .lift-box-header {
    padding: 0.5em 1em;
}

.open-offers-container {
    padding-bottom: 1em;
    background: #ffff;
}

.open-offers-container * {
    /* font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif; */
    letter-spacing: normal;
    color: #676a6c;
}


button.btn-white {
    color: inherit;
    background: white;
    border: 1px solid #e7eaec;
}

div.action-btn-group button {
    margin-right: 0.2em;
}

div.offer-item {
    padding: 0.3em 0;
    border-top: 1px solid #ddd;
}

div.open-offers-container div.offer-row:first-child div.offer-item {
    border-top: 0;
}

.unread {
    background-color: #f9f8f8;
}