<<<<<<< HEAD
.ticket-table-wrapper td:last-child {
=======
.ticket-table-wrapper td:last-child  {
>>>>>>> fe96da04472b41d656e330c5c8f3a70fe5b57715
  float: right;
}

td > i {
	color: #7f7f7f;
}

.ticket-delete-button {
		float: right;
    background-color: #ef627d;
    border-color: #ef627d;
    color: #FFFFFF;
    cursor: pointer;
}