.collapse-header h6 {
    text-align: left;
}

.collapse-header a {
    color: #000;
}

.collapse-header a:hover, .collapse-header a:focus {
    text-decoration: none;
}

.card-header.collapse-header, .card-body.collapse-body {
    padding: .75rem 1rem;
}

.card.collapse-card {
    border-radius: 0;
    border-bottom: 0;
}