.modal-logo-desktop-wrapper {
	  text-align: center;
    font-size: 29px;
    padding: 7px 65px;
}

.modal-logo-first-part {
    border: 1px solid black;
    padding-left: 2px;
    padding-right: 1px;
    color: black;
}
.modal-logo-last-part {
    border: 1px solid black;
    background-color: #000;
    color: #fff;
    padding-right: 1px;
}