.header-wrapper {
    border-bottom: 1px solid #000;
}

.header-wrapper > nav.navbar {
    background: #fff;
    /*background: -webkit-linear-gradient(#033244, #000000);*/
    /*background: -o-linear-gradient(#033244, #000000);*/
    /*background: -moz-linear-gradient(#033244, #000000);*/
    /*background: linear-gradient(#033244, #000000);*/
}

.navbar-brand.main-logo {
    font-family: BebasNeue, serif;
    color: #000;
    position: absolute;
}

li.nav-item > a.nav-link {
    text-transform: uppercase;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    height: 100%;
}

h1, h2, h3 {
    font-family: BebasNeue, serif;
}

a.nav-link {
    color: rgba(0,0,0,0.6) !important;
    font-family: SourceSansPro, sans-serif !important;
    padding: 0;
}

li.nav-item.active > a.nav-link {
    color: #000000 !important;
}


nav.nf-navbar {
    padding: 0 1rem;
    height: 2.5rem;
}

ul.nf-nav {
    width: 100%;
}

ul.navbar-nav.nf-nav li:nth-child(-n+2) {
    border-right: 1px solid #000;
}

ul.navbar-nav.nf-nav li:last-child {
    color: #000 !important;
}

@media (min-width: 991px) {
    ul.nf-nav > li:last-child {
        position: absolute;
        right: 0;
    }

    ul.nf-nav {
        justify-content: center;
    }
}
