.influencers-wrapper {
    background: linear-gradient(0deg, rgba(54, 59, 77, 0.88), rgba(54, 59, 77, 0.88)),
    url(http://exprostudio.com/html/classified/images/slider/img-01.jpg);
    position: relative;
}

.active-filters-wrapper {
    border-bottom:1px solid rgba(0, 0, 0, .125);
    padding-bottom:1em;
    margin-bottom:1em;

}