body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

@font-face {
  font-family: SinaloaStd;
  src: url("./SinaloaStd.otf") format("opentype");
}

@font-face {
  font-family: BebasNeue;
  src: url("./BebasNeue Regular.otf") format("opentype");
}

@font-face {
  font-family: SourceSansPro;
  src: url("./SourceSansPro-Regular.otf") format("opentype");
}

