html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    position: relative;
    font-family: sans-serif;
}

*:not(p) {
    font-family: BebasNeue, serif;
    letter-spacing: 1px;
}

p, span {
    font-family: MontserratRegular;
    letter-spacing: 0px;
    color: #585858;
}

input[type=submit] {
    font-family: BebasNeue, serif;
    letter-spacing: 1px;
    color: white!important;
}

input, select, textarea {
    font-family: MontserratRegular;
    letter-spacing: 0px;
    color: #585858!important;
}

input::placeholder, textarea::placeholder {
  color: #bdbdbd!important;
}

button, optgroup, option {
    font-family: inherit;
}

#root {
    height: 100%;
}

.platform-content {
    background-color: #f3f3f4;
    min-height: 100vh;
}

.platform-wrapper {
    height: 100%;
    position:relative;
}

@font-face {
    font-family: MontserratBold;
    src: url("./Montserrat-Bold.ttf") format("truetype");
}

@font-face {
    font-family: MontserratRegular;
    src: url("./Montserrat-Regular.ttf") format("truetype");
}

@font-face {
    font-family: LatoItalic;
    src: url("./Lato-Italic.ttf") format("truetype");
}

@font-face {
    font-family: LatoBoldItalic;
    src: url("./Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: LatoLight;
    src: url("./Lato-Light.ttf") format("truetype");
}

@font-face {
    font-family: LatoBold;
    src: url("./Lato-Bold.ttf") format("truetype");
}

@font-face {
    font-family: SinaloaStd;
    src: url("./SinaloaStd.otf") format("opentype");
}

@font-face {
    font-family: BebasNeue;
    src: url("./BebasNeue Regular.otf") format("opentype");
}

@font-face {
    font-family: SourceSansPro;
    src: url("./SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url("./Quicksand-Regular.otf") format("opentype");
}

@font-face {
    font-family: QuicksandBold;
    src: url("./Quicksand-Bold.otf") format("opentype");
}

@font-face {
    font-family: QuicksandDash;
    src: url("./Quicksand_Dash.otf") format("opentype");
}

.gl-bold {
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.c-darker-grey {
    color: #3f3f3f;
}

.c-dark-grey {
    color: #2a2a2abd;
}

.c-light-grey {
    color: #2a2a2a7d;
}

.c-black {
    color: #000;
}

.c-dblue {
    color: #056571ad;
}

.c-green {
    color: #66BB6A;
}

.c-success {
    color: #449d44;
}

.c-blue {
    color: #2CC6DA;
}

.c-dark-blue {
    color: #0077B5;
}

.c-purple {
    color: #AB47BC;
}

.c-red {
    color: #EF5451;
}

.c-orange {
    color: #FF6600;
}

.c-white {
    color: #fff;
}

.bg-dark-blue {
    background: #363b4d;

}

.bg-white {
    background-color: #fff;
}

.mw-326 {
    min-width: 326px;
}

h6.h7 {
    font-size: 0.9em;
}

.td-underline {
    text-decoration: underline !important;
}

.gl-button-wrapper {
    width: 100%;
    background-color: #00CC67;
    border: 1px solid #fff;
    padding: 11px 0px;
    color: white;
}

.gl-button-wrapper:hover {
    background-color: #00a352;
    -webkit-transition: background-color 0.3s ease-in;
    -moz-transition: background-color 0.3s ease-in;
    -o-transition: background-color 0.3s ease-in;
    -ms-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
}

.gl-insta-button {
    background-color: #2E5E86;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.gl-align-center {
    text-align: center;
}

.gl-margin-auto {
    margin: auto;
}

.platform-btn {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #FFFFFF;
    cursor: pointer;
}

.w-auto {
    width: auto !important;
}

.ai-center {
    align-items: center;
}

button {
    cursor: pointer;
}

.btn-lg-sides {
    padding-left: 4rem;
    padding-right: 4rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
}

.nav-item-label {
    display: inline;
}

@media (min-width: 767px) {
    #sidebar {
        min-width: 250px;
        max-width: 250px;
        height: 100%;
    }

    #sidebar + .platform-content {
        margin-left: 250px;
    }

    .collapse-nav .nav-item-label {
        display: none!important;
    }

    .collapse-nav#sidebar {
        min-width: 60px;
        max-width: 60px;
        height: 100%;
    }

    .collapse-nav#sidebar + .platform-content {
        margin-left: 60px;
    }
}

@media (max-width: 767px) {

    .nav-item-label {
        display: none;
    }

    #sidebar {
        min-width: 60px;
        max-width: 60px;
        height: 100%;
    }

    #sidebar + .platform-content {
        margin-left: 60px;
    }

    .collapse-nav#sidebar {
        display: none;
    }

    .collapse-nav#sidebar + .platform-content {
        margin-left: 0;
    }
}

a.hidden-link, a.hidden-link:hover {
    text-decoration: none;
    text-underline: none;
}

.b-quote {
    padding-left: 0.5em;
    border-left: 2px solid #dddde2;
}

.always-center, .items-center {
    justify-content: center;
    align-items: center;
    display: flex;
}

.items-center {
    justify-content: unset;
}

.opacity0 {
    opacity: 0;
    cursor: default;
}

.c-not-allowed {
    cursor: not-allowed;
}

.text-visa {
    color: #fdbb0a;
}

.facebook-blue {
    color: #3b5998;
}

.twitter-blue {
    color: #8b9dc3;
}

.instagram-color {
    color: #e4405f;
}

.btn-facebook {
    background-color: #3b5998;
    color: #fff;
    border: 0;
}

.btn-twitter {
    background-color: #8b9dc3;
    color: #fff;
    border: 0;
}

.btn-instagram {
    background-color: #e4405f;
    color: #fff;
    border: 0;
}

